body {
  font-family: Poppins, sans-serif;
  background-color: beige;
}
input {
  border: 0cm;
}
.center-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: pink;
  border-radius: 16px;
  margin: 100px 300px 100px 300px;
  padding: 20px 20px 20px 20px;
}
.butn {
  display: block;
  margin: 20px auto 20px auto;
  background-color: rgb(42, 154, 239);
  border: solid rgb(36, 146, 231) 2px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  color: beige;
}
.butn:hover {
  background-color: rgb(36, 146, 231);
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px rgb(26, 91, 142);
}
.container {
  display: block;
}
p {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  font-size: 20px;
}
