body {
  font-family: Poppins, sans-serif;
  background-color: #e0f2f7;
}
main {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 2;
}
#name {
  color: #498ebc;
  font-family: Poppins;
}
.bento-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 2rem;
}
.weather-info {
  flex: 1;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  padding: 0px 10px 10px 10px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}
.left-bar {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.left-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 240px;
  background-color: #f0f8ff;
  border-right: 1px solid #bdc3c7;
  gap: 20px;
  align-items: flex-start;
}
#current-temp {
  text-align: center;
  margin-bottom: 20px;
}
.icon {
  width: 80px;
  height: auto;
}
.forecast-day,
.forecast-week {
  background-color: #f9f9f9;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  text-align: center;
}
.hourly-scroll {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
}
#forecast-container {
  display: grid;
  text-align: center;
}
footer {
  text-align: center;
  font-size: 0.9rem;
  color: #7f8c8d;
  z-index: 2;
}
footer p {
  margin: 0;
  font-size: 0.9rem;
  display: block;
}

.social-links a {
  color: #7f8c8d;
  font-size: 1.2rem;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #474a4b;
}
.butn {
  z-index: 1000;
  border: none;
  margin: auto;
  padding: 14px 40px;
  background-color: #3498db;
  color: #fff;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  bottom: 20px;
  position: fixed;
  right: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}
.butn:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .bento-row {
    flex-direction: column;
    padding: 1rem;
  }
}
